<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  <title>MakanCuy App</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">MakanCuy App</h1>
    </div>
    <button id="menu" class="header__menu" aria-label="button menu dropdown" href="#">☰</button>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#/">Home</a></li>
      <li class="nav__item"><a href="#/favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/rifat-sulthon/" target="_blank">About Us</a></li>
    </ul>
  </nav>
  </header>

  <main id="maincontent" tabindex="0"></main>
  <footer>
    <p>Copyright &#169; 2022 - MakanCuy App</p>
  </footer>
</body>
</html>
